@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply p-0 bg-tig-light-gray h-screen;
}

*::-webkit-scrollbar {
  background-color: #3b3a38;
  border: solid 2px #615f58;
}
*::-webkit-scrollbar-thumb {
  background-color: #615f58;
  border: solid 2px #3b3a38;
  border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}